$brand-body-bg: #eeeeee;
$brand-body-fg: #1e1e1e;
$brand-modal-bg: #2e2e2e;
$brand-modal-fg: #fefefe;
$brand-accent-a-bg: #8cd3ea;
$brand-accent-a-fg: #0c84ab;
$brand-accent-b-bg: #fecf59;
$brand-accent-b-fg: #e4b540;
