@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&family=Oxanium:wght@200;400;700&family=Space+Mono:ital@0;1&display=swap')
  
@import 'normalize.css'
@import '@/src/styles/variables.scss'

*
  box-sizing: border-box

body
  background-color: $brand-modal-bg
  color: $brand-modal-fg
  font-family: Inter, Arial, Helvetica, sans-serif
